<%= semantic_form_for @student do |f| %>

  <%= f.inputs do %>

    <% if current_user.admin? %>
      <%= f.input :full_name, :hint => "Nazwisko Imię", :input_html => { class: "span8" } %>
      <%= f.input :rank, :input_html => { class: "span8" } %>
    <% else %>
      <div class="row disabled clearfix">
        <div class="rank span2"><%= "\##{@student.rank}" %></div>
        <div class="full_name span8"><%= "#{@student.full_name}" %></div>
      </div>
    <% end %>

    <% disabled = current_user.admin? ? false : true %>

    <%= f.input :repositories, :hint => "https://github.com/twój_login", :input_html => { class: "span8" } %>
    <%= f.input :nickname, :input_html => { class: "span8" } %>
    <%= f.input :uid, :hint => "<a href='http://caius.github.com/github_id/'>check it here</a>".html_safe,
          :input_html => { class: "span8", disabled: disabled } %>

    <%= f.input :absences_list, :input_html => { class: "span8", disabled: disabled } %>
    <%= f.input :comments, as: :text, :input_html => { class: "span8" } %>
    <%= f.input :class_name, :as => :select,
          :collection => {"nieprzydzielony" => "unknown",
                          "języki programowania" => "jp",
                          "technologie nosql" => "nosql",
                          "seminarium" => "seminarium",
                          "techniki internetowe" => "ti",
                          "architektura serwisów internetowych" => "asi",
                          "przygotowywanie publikacji naukowych" => "pbn" },
          :input_html => { class: "span8", disabled: disabled } %>

    <% if current_user.admin? %>
      <%= f.input :semester, :as => :radio, :collection => { "zima" => "winter", "lato" => "summer" } %>
      <%= f.input :year, :as => :radio, :collection => ["2011", "2012"] %>
    <% end %>

    <%= f.input :group,:as => :select,
          :collection => {"nieprzydzielony" => "unknown",
                          "niebieska" => "blue",
                          "zielona" => "green",
                          "czerwona" => "red"},
          :input_html => { class: "span8", disabled: disabled } %>

    <%= f.input :id_number, :input_html => { class: "span8" } %>

  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>

<% end %>
