<% @students.each do |student| %>
<article class="index">
  <div class="attribute">
    <div class="presence"><%= link_to '☺', not_present_student_path(student), method: :put %></div>
    <div class="full-name <%= student.group %>"><%= link_to student.full_name, student %></div>
    <div class="absences"><%= bullets(student.absences) %></div>
    <div class="links">
      <%= link_to '✎ Edit', edit_student_path(student), class: "btn" %>
    </div>
  </div>
</article>
<% end %>

<div class="link"><%= link_to 'New Student', new_student_path, class: "btn primary" %></div>
