<% title @student.full_name, false %>

<article class="show">
  <h2>
    <span id="rank"><%= progress %></span><span><%= @student.full_name %></span>
    <span class="absences"><%= @student.absences_list %></span>
  </h2>
  <div class="attribute">
    <span class="name">Repo URL:</span>
    <span class="value uri"><%= @student.repositories %></span>
  </div>
  <div class="attribute">
    <span class="name">Nickname:</span>
    <span class="value"><%= @student.nickname %></span>
  </div>
  <div class="attribute">
    <span class="name">Id:</span>
    <span class="value"><%= @student.id_number %></span>
  </div>
  <div class="attribute">
    <span class="name">Course:</span>
    <span class="value"><%= @student.class_name %></span>
  </div>
  <div class="attribute">
    <div class="name">Comments:</div>
    <div class="value comments"><%= @student.comments %></div>
  </div>
  <div class="links">
    <%= link_to 'Back', students_path, class: "btn primary" %>
    <%= link_to 'Edit', edit_student_path(@student), class: "btn" %>
  </div>
</article>
